@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*Header*/
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(images/pizza.jpg.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.628);
    box-shadow: 0 10px 50px black;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
}

.navbar a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li a:hover{
    background-color: rgba(255, 0, 0, 0.211);
    width: 300px;
    height: 40px;
    padding: 10px 22px;
    box-shadow: 0 0 12px rgb(255, 255, 255);
    border-radius: 12px;
    color: white;
}

.content{
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: right;
    width: 100%;
    
}

.content h1{
    font-size: 60px;
    font-family: 'Whisper', cursive;
}

.content p{
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    margin-top: 20px;
}

.content button{
    padding: 18px 10px;
    border: 1px solid red;
    background-color: transparent;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    margin-left: 10px;
}

.content a{
    color: white;
    text-decoration: none;
}

.content button:hover{
    background-color: red;
    box-shadow: 0 0 10px white;
}


/*About Us*/
.about{
    width: 100%;
    padding: 80px 0;
    background-color: #efefef;
}

.about-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content img{
    width: 500px;
    height: 400px;
}

.about-text{
    width: 400px;
}

.about-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 900;
    color: #333;
}

.about-text h1 span{
    color: #FEB139;
}

.about-text h4{
    font-size: 23px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #666;
}

.about-text p{
    line-height: 23px;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 14px;
    color: rgb(30, 29, 29);
}
.about-text button{
    padding: 15px 30px;
    border: 1px solid red;
    background-color: #FEB139;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}


/*footer*/

.footer{
    background-color: rgb(22, 17, 17);
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
}

.footer h3{
    color: antiquewhite;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.col-1{
    display: block;
    position: absolute;
    top:75px;
    left:60px;
}

.col-2{
    display: block;
    position: absolute;
    top: 75px;
    left:40%;
}

.col-3{
    display: block;
    position: absolute;
    top: 75px;
    left:80%;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
}


#email_address{
width: 200px;
height: 30px;
border-radius: 2px;
}

#email_address::placeholder{
    padding-left: 13px;
}

#button{
    display: block;
    position: relative;
    left: 47px;
    top: 25px;
    padding: 10px 12px;
}

#button:hover{
    background-color: antiquewhite;
}

.social_links a{
    display: inline-block;
    margin-top: 30px;
    font-size: 25px;
    color: antiquewhite;
    margin-left: 7px;
}
